body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.container-fluid{
    margin: 0%;
    padding: 0%;
}
.row{
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
}
.dp{
    padding-left: 25vw;
    align-self: center;
}
.dp img {
    border-radius: 100%;
    width: 18vw;
    border: 8px dotted rgb(131, 160, 155);
}
.name{
    align-self: center;
    
}
.name h1 {
    font-family: cursive;
    font-weight: bold;
    font-style: italic;
    color: rgb(14, 161, 166);
}
.name h3 {
    font-family: fantasy;
    font-weight: lighter;
    font-style: italic;
    color: rgb(14, 161, 166);
}
.navs {
    position: sticky;
    top: 0px;
}



.about{
    padding: 5% 5% 5% 5%;
    background-color: rgb(222, 235, 246);
}
ol{
    list-style-type: disc;
}
.me {
    background-color: rgb(61, 165, 213);
    width: 40%;
    height: auto;
    border-radius: 6px;
    padding: 10px 10px 10px 10px;
    align-self: center;
    margin-left: 16%;
    margin-top: 5%;

}
.qualification{
    background-color: rgb(153, 181, 206);
    width: 40%;
    height: auto;
    border-radius: 6px;
    align-self: center;
    margin-top: 4%;
    margin-left: 40%;

   
}
.know{
    margin-left: 24%;
    margin-top: 10%;
}
.know h3 {
    text-align: center;
}